$dark-grey: #666;
$light-grey: #999999;
$blue: #05b;
$dark-blue: #313e78;
$light-blue: #f3f7fc;
$orange: #ff7033;
$mobile-width: 320px;
$small-tablet-width: 699px;
$smaller-tablet-width: 808px;
$br-900: 900px;
$tablet-width: 1023px;
$desktop-width: 1200px;
$max-width: 1200;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
